.inner{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
@media screen and (max-width: 736px) {
    .inner{
        max-width: 400px;
        width: auto;
    }
    #one{
        padding: 50px 10px !important;
        letter-spacing: 1.2px !important;

    }
    table{
        font-size: 12px !important;
    }
    .px-6, .px-4{
        padding-left:3px !important;
        padding-right:3px !important;
    }
}
#one{
    background: #FFFBE9;
    color: #2E3842;
    padding: 100px 40px 50px 50px;
    letter-spacing: 1.2px;
    text-align: justify;

}
#one h1{
    font-size: 20px;
    color: #2E3842;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 4.14px;
}
