.spotlight{
    box-sizing: border-box;
    /*position: absolute;*/
    background: #FFFBE9 !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 20px;

}

.spotlight h2{
    color: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 4.86px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 7px;
}

.spotlight p{
    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-align: left;
    margin-bottom: 15px;

}

.button-more{
    text-decoration: none;
    color: black;
    background: var(--main-color);
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    text-align: left !important;

}

.button-more:hover{
    color: white;
}

.image img{
    max-width: 270px;
}

.spotlight:nth-child(odd) .image img{
    margin-left: auto;
}

.spotlight:nth-child(even) .image img{
    margin-right: auto;
}

.content{
    text-align: left !important;
}




