.wrapper.style5 {
    background-color: #FFFBE9;
    color: #4E4852;

}

.tournament h4, h5{
    color: #2E3842;
    font-weight: 400;
    margin-bottom: 2px;
}

.tournament {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.tournament:nth-last-child(1){
    border-bottom: none;
}

.points{
    text-decoration: none;
}
.tournament p{
    text-align: center;
}
.filter-icon{
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;

    position: relative;
    width: 16px;
}
.fa-filter{
    font-size: 16px;
    transform: scale(-1, 1);
    position: relative;
    color: black;
}
#dropdown{
    position: absolute;
    background-color: white;
}
#dropdown ul{
    margin-bottom: 0;
}
#dropdown label{
    padding-top: 10px;
}
