.block{
    background: #FFFBE9;
    color: #2E3842;
    /*text-align: center;*/
    padding: 40px 40px 40px 50px;

}
.block h1{
    color: #2E3842;
}
.image{
    width: 270px;
    height: 270px;
}
.image-wrapper{
    margin-left: 20px;
    float: right;
}
