.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 501px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 501px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-1 .u-text-3 {
  margin: 30px 1px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px 1px 0;
}

.u-section-1 .u-group-1 {
  width: 672px;
  min-height: 108px;
  height: auto;
  margin: 10px auto 0 1px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  text-align: left;
  margin: 0 430px 0 130px;
}

.u-section-1 .u-image-2 {
  width: 100px;
  height: 108px;
  text-align: left;
  margin: -36px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(to right, #0083ff, #36ffc1);
  text-align: left;
  margin: -97px auto 0 242px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  margin: 13px 385px 0 130px;
}

.u-section-1 .u-text-7 {
  text-align: left;
  margin: -32px 0 0 577px;
}

.u-section-1 .u-text-8 {
  text-align: left;
  margin: 0 430px 0 130px;
}

.u-section-1 .u-text-9 {
  text-align: left;
  margin: -32px 45px 0 577px;
}

.u-section-1 .u-group-2 {
  width: 672px;
  min-height: 108px;
  height: auto;
  margin: 10px auto 0 1px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  text-align: left;
  margin: 0 430px 0 130px;
}

.u-section-1 .u-image-3 {
  width: 100px;
  height: 108px;
  text-align: left;
  margin: -36px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(to right, #f41818, #fee7e7);
  text-align: left;
  margin: -97px auto 0 242px;
}

.u-section-1 .u-text-11 {
  text-align: left;
  margin: 13px 385px 0 130px;
}

.u-section-1 .u-text-12 {
  text-align: left;
  margin: -32px 0 0 577px;
}

.u-section-1 .u-text-13 {
  text-align: left;
  margin: 0 430px 0 130px;
}

.u-section-1 .u-text-14 {
  text-align: left;
  margin: -32px 45px 0 577px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 569px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 393px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 348px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 474px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 393px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 8px;
    margin-left: 510px;
  }

  .u-section-1 .u-group-2 {
    width: 569px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 393px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 348px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 474px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 393px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 8px;
    margin-left: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 716px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 564px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 269px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 332px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 376px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 269px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 332px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 376px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 176px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 176px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  width: 185px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 10px auto 60px;
}